*{
    font-family: 'Gill Sans', sans-serif;
    list-style: none;
    padding: 0;
    margin: 0; 
}
body{
    background: #333;
    text-transform: uppercase;
}
h1{
    text-align: center;
}
h3{
    margin: 5px;
}
.Skill{
    width: 500px;
    margin: 60px;
    color: #fff;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.Skill li{
    margin: 20px 0;
    padding: 10px;
}
.bar{
    background: #353b48;
    display: block;
    height: 20px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.bar span  {
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(252, 103, 103, 1)100%);
}
.html{
    width: 43%;
    animation: html 3s;
}
.css{
    width: 23%;
    animation: css 3s;
}
.lua{
    width: 94%;
    animation: lua 3s;
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 43%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 23%;
    }
}
@keyframes lua{
    0%{
        width: 0%;
    }
    100%{
        width: 94%;
    }
}

.EuVanillas {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 65%;
    left: 54%;
    margin-top: -100px; /* half of the height */
    margin-left: -100px; /* half of the width */
  }

  .AbtMe {
    position: absolute;
    width: 910px;
    height: 250px;
    top: 120%;
    left: 30%;
    margin-left: 30px; /* adjust the value as needed */
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(51, 51, 51, 0.5);
    height: 50px;
    width: 100%;

  }

  .btn-space {
    padding: 8px 25px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-size: 500% auto;
    font-weight: bold;
    font-size: 1rem;
    color: rgba(255, 255, 255, 1);
    border-radius: 10px;
  }
  
  .btn-space:hover {
    background-position: right center;
    border-image-source: linear-gradient(90deg, #d53a9d,#743ad5 );
    -webkit-box-shadow: 0 0 20px #743ad5;
    box-shadow: 0 0 20px #743ad5;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 10px #d53a9d;
  }
  
  .space {
    background-image: -webkit-gradient(linear, left top, right top, from(#743ad5), color-stop(51%, #d53a9d), to(#743ad5));
    background-image: linear-gradient(to right, #743ad5 0%, #d53a9d 51%, #743ad5 100%);
    border-image-source: linear-gradient(45deg, #743ad5, #d53a9d );
    border-image-outset: 1em;
  }

  .btn-space {
    position: absolute;
    top: 1350;
    left: 920;
  }

  html {
    scroll-behavior: smooth;
  }

  .btn-jump {
    padding: 8px 25px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-size: 500% auto;
    font-weight: bold;
    font-size: 1rem;
    color: rgb(148, 221, 255);
    border-radius: 10px;
  }
  
  .btn-jump:hover {
    background-position: right center;
    border-image-source: linear-gradient(90deg, #e937a8,#743ad5 );
    -webkit-box-shadow: 0 0 20px #743ad5;
    box-shadow: 0 0 20px #743ad5;
    color: rgb(247, 96, 96);
    text-shadow: 1px 1px 10px #d53a9d;
  }
  
  .space {
    background-image: -webkit-gradient(linear, left top, right top, from(#743ad5), color-stop(51%, #d53a9d), to(#743ad5));
    background-image: linear-gradient(to right, #ac7cff 0%, #d53a9d 51%, #743ad5 100%);
    border-image-source: linear-gradient(45deg, #743ad5, #d53a9d );
    border-image-outset: 1em;
  }

  .btn-jump {
    position: absolute;
    top: 12;
    left: 900;
  }
  
  .popup {
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, #ff69b4, #9370db);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 5px #9370db;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .popup {
    position: fixed;
    z-index: 1;
    top: 10%;
    right: 5%;
    background: linear-gradient(to bottom, #ff69b4, #9370db);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 5px #9370db;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    text-align: center;
  }
  
  .EuVanillas {
    transition: transform 0.3s ease-in-out;
    
  }
  
  .EuVanillas:hover {
    transform: scale(1.1);
  }
  